* {
   margin: 0;
   padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  /* background-color: rgb(16, 16, 16); */
}

.container {
    height: -webkit-fill-available;
    overflow: hidden;
    position: relative;
}

h1, h2, h3 a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.gm-style .gm-style-iw-c{
  background-color: rgba(255, 255, 255, 0.7) !important;
  padding: 20px !important;
}

.gm-style-iw-d{
  overflow: hidden !important;
}

.gm-style .gm-style-iw-t{
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.gm-style .gm-style-iw-t::after{
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.gmnoprint{
  z-index: -2 !important;
}

.linkWindow{
  color: rgba(255, 0, 80, 0.4);
}

.pinkText{
  color: rgba(255, 0, 80, 0.4);
}
#firstHeading, .description{
  color: rgba(0, 0, 0, 0.5);
}

a{
  text-decoration: none;
  color: white;
}

.italic{
  font-style: italic;
  color: rgba(255, 165, 0, 0.5);
}

#map{
  width: 100%;
  height: -webkit-fill-available;
  background-color: grey;
}

.titles{
  position: absolute;
  text-align: left;
  z-index: 2;
  margin: 18px 0 0 120px ;
}

.bigTitle{
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 400;
}

.smallTitle{
  font-size: 18px;
}

.smallTitle2{
  font-size: 18px;
  font-weight: lighter;
}

.containerLogo{
  display: flex;
}

.justify{
  justify-content: space-between;
}

.plus{
  padding-left: 40px;
  text-decoration: underline;
}
.contact{
  width: fit-content;
  margin-top: 20px;
  z-index: 2;
  font-size:15px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
button {
	width: 110px;
	cursor: pointer;
	text-transform: capitalize;
}
.btn{
  background:rgba(255, 255, 255, 0.4);
  border:none;
	padding: 12px;
  z-index: 2;
}

.form{
  width: fit-content;
  margin-top: 20px;
  z-index: 2;
  font-size:15px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
}

.logo{
  position: absolute;
  text-align: left;
  margin: 3px 0 0;
  padding: 0 40px;
  z-index: 2;
  top: 20px;
  display: flex;
  align-items: flex-end;
}

.logoBjorn{
  padding-bottom: 20px;
  font-size:15px;
  font-weight: lighter;
}
.vr{
  position: absolute;
  text-align: left;
  margin: 5px 0 0;
  padding: 0 40px;
  z-index: 2;
  top: 20px;
  right: 20px;
  font-size:15px;
  font-weight: lighter;
}

#arrow{
  position: absolute;
  width: 15px;
  z-index: 2;
}

.legend{
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  position: absolute;
  margin: 5px 5px 0;
  color: rgba(255, 255, 255, 0.4);
  z-index: 2;
  top: 120px;
  right: 20px;
  font-size: 10px;
  font-weight: lighter;
}


@media screen and (min-width: 300px) and (max-width: 1000px) {
  .smallTitle, .smallTitle2, a {
    font-size: 24px;
  }
  .titles{
    /* width: 80%; */
    top: 30%;

  }
}
